.goodbye{
    @include grid-childs(footer, span 6, 3);
    @include grid-footer(repeat(2, 1fr) 500px repeat(2, 1fr), 1fr, flex, space-between);
    background-color: black;
    color: white;
        h2{
            @include grid-childs(h2, 3, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Roboto;
        }
        a{    
            text-decoration: none;
            color: white;
        }
        .social{
            @include socialMedia(50px, flex, 0px 10px, flex-start, center);
        }
        .github{
            color: rgb(37, 167, 199);
            &:hover{
                transition: .8s;
                color: #D13D5C;

            }
        }
        .linkedin{
            @extend .github;
            &:hover{
                @extend .github:hover;
            }
        }
        i{
            margin: 0px 5px;
        }
}