
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include grid-childs(main, 3, 2);
}

#myCalculatorApp{
    @include grid-childs(none, 3, 3);
    @include default(450px, 320px, 4px solid black);
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
        form{
            @include default(100%, 100%, none);
            @include background();
            border-radius: 10px;
        }
        input[type=textfield]{
            background: map-get($color, calculatorDisplay);
            @include colorCalculator(numberDisplay);
            @include default(25%, 100%, none);
            cursor: default;
            font-family: 'Consola', sans-serif;
            padding: 15px;
            text-align: right;
            margin: 20px 0px;
            font-size: 50px;
            font-weight: bold;
            outline: none;
        }
        input[type=button], input[type=reset]{
            width: 22%;
            cursor: pointer;
            font-family: 'Consola', sans-serif;
            font-weight: bold;
            font-size: 26px;
            color: black;
            padding: 18px;
            text-align: center;
            margin: 3px;
            border: 0;
            border-radius: 20%;
        }
}

form{
    .operation{
        font-weight: bolder;
        @include colorCalculator(operation)
    }
}