/* COLOR MAP */

$color: (
    calculator: rgb(7, 7, 7),
    calculatorDisplay: rgba(255, 255, 255, 0.1), 
);

/* BG */

$background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");

/* VARIABLES MEDIA QUERIES */

$tabletBreak: 720px;
$mobileBreak: 565px;

/* MIXINS */
    /* BACKGROUND */
@mixin background(){
    background-color: #D5425C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c02b5a' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23d4425d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ac234f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23bc5494' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23991c44' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%238b6cb2' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23861439' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235a7cb2' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23730c2f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%234b839e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23610525' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23608488' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

    /* BASICS */

@mixin default($h, $w, $bor){
    height: $h;
    width: $w;
    border: $bor;
}

        /* GRIDS */

@mixin grid-childs($area, $col, $row){
    grid-area: $area;
    grid-column: $col;
    grid-row: $row;
}

        /* GRID MAIN */



        /* GRID FOOTER */

@mixin grid-footer ($columns, $rows, $flex, $jc){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
        @media screen and (max-width: $tabletBreak) {
            display: $flex;
            justify-content: $jc;
                h2{
                    font-size: 25px;
                    margin: 0px 10px;
                }
                .social{
                    font-size: 35px;
                }
        }
        @media screen and (max-width: $mobileBreak) {
            display: flex;
                h2{
                    font-size: 20px;
                }
            }
        }


        /* CALCULATOR */
        
@mixin colorCalculator ($colores){
    background-color: ($colores);
    @if $colores == number{
        background-color: #ffffff;
    } @else if $colores == operation{
        background-color: rgb(238, 163, 24);
    } @else if $colores = numberDisplay{
        color: white;
    }
}


        /* LOGOS */

@mixin socialMedia($fSize, $disp, $marg, $jCont, $alignItems){
    font-size: $fSize;
    display: $disp;
    margin:  $marg;
    justify-content: $jCont;
    align-items: $alignItems;
}